@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    margin: 0;
    padding: 0;
    background-color: #fefefe;
    font-family: 'Montserrat', sans-serif;
}
.header {
    width: 100%;
    height: 65px;
    text-align: center;
    padding-top: 10px;
    display: inline-block;
    padding-bottom: 20px;   
}
.header > a > img {
    height: 100%;
}
.header > a > img:hover {
    opacity: 0.7;
}
.cta {
    width: 100%;
    height: auto;
    display: inline-block;
    background-color: #0D0764;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b2b2b2' fill-opacity='0.22'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    color: #fff;    
    text-align: center;
}
.cta > div:first-child {
    width: 600px;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    display: inline-block;
    background-color: #0D0764;
    padding-bottom: 30px;
}
@media screen and (max-width: 600px) {
    .cta > div:first-child {
        width: 90% !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
}
.cta > div:first-child > p {
    line-height: 25px;
    padding-bottom: 10px;
}
.cta > div:first-child > a {
    text-decoration: none;
    background-color: #05b66a;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
}
.cta > div:first-child > a:hover {
    opacity: 0.9;
}
.cards {
    width: 90%;
    height: auto;
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.cards > p {
    margin-top: -10px;
    padding-bottom: 5px;
}
.cards > ul {
    list-style: none;
    padding: 0;
}
.cards > ul > li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
.cards > ul > li > a {
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    color: #fff;
    background-color: #0D0764;
}
.cards > ul > li > a:hover {
    opacity: 0.85;
}
.cards > div {
    padding-top: 10px;
}
.kudo-card {
    height: 450px;
    width: 300px;
    color: #000;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}
.kudo-card > div:first-child {
    height: 175px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ccc;
    display: inline-block;
}
.kudo-card > div:nth-child(2) {
    width: 100%;
    height: 200px;
    display: inline-block;
    text-align: left;

}
.kudo-card > div:nth-child(2) > h3 {
    padding-left: 10px;
    padding-right: 10px;
}
.kudo-card > div:nth-child(2) > p {
    padding-left: 10px;
    padding-right: 10px;
    max-height: 4.8em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.readMore {
    padding-left: 10px;
    text-decoration: none;
}
.kudo-card > div:last-child {
    width: 100%;
    display: inline-block;
    height: 75px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 15px;
}
.kudo-card > div:last-child > a {
    text-decoration: none;
    background-color: #05b66a;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 120px;
    padding-right: 120px;
    color: #fff;
    border-radius: 5px;
}
.kudo-card > div:last-child > a:hover {
    opacity: 0.8;
}
.showKudo {
    display: inline-block;
}
.hideKudo {
    display: none;
}
.footer {
    width: 100%;
    height: 50px;
    text-align: center;
    display: inline-block;
}
.footer > h4 > a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color: #0D0764;
}
.footer > h4 > a:hover {
    border-bottom-color: #0D0764;
}